@import "tailwindcss";

:root {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
}

* {
  font-family: 'Poppins', sans-serif;
}

@media print {
  body {
    background-color: white !important;
    color: black !important;
    font-family: 'Poppins', sans-serif !important;
  }

  header, nav, button, .print\:hidden {
    display: none !important;
  }

  #printable-receipt, #printable-report {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 20px !important;
    box-shadow: none !important;
    border: none !important;
  }
}
